body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#semgContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    width: 100%;
}

.semgWindow {
    flex: 1 1 calc(25% - 20px); /* Four charts per row */
    height: calc(50% - 20px);   /* Adjust height to fit two rows */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 1024px) {
    .semgWindow {
        flex: 1 1 calc(50% - 20px); /* Two charts per row on smaller screens */
        height: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    #semgContainer {
        flex-direction: column;
    }
    .semgWindow {
        flex: 1 1 100%;
        height: 200px; /* Adjust height for mobile view */
    }
    button {
        padding: 10px 15px;
        font-size: 14px;
    }
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

#pairButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #377ba8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pairButton:hover {
    background-color: #2a5d7a;
}

#deviceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#deviceDropdown {
    padding: 10px;
    font-size: 16px;
    width: 530px;
    text-align: center;
}

.primary-button,
#pairDeviceButton {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

.primary-button:hover,
#pairDeviceButton:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        padding: 5px;
    }
    .primary-button,
    #pairDeviceButton,
    #deviceDropdown {
        width: 90%;
        max-width: 300px;
    }
}